
.clearfix:before,	
  .clearfix:after	
  {
	
   content:	
  "";
	
  
display:	
  table;
	
  
}
	
  
.clearfix:after	
  {
	
  
clear:	
  both;
	
  
}
body{font:400 9pt/1.6m Arial, Helvetica, sans-serif;}
h1{
	font-size:1em;
	margin-bottom: 30px;
}
h1, ul{margin:0; padding: 0;}
a,
a:visited,
a:link,
a:active{	
	text-decoration: none;
	border-bottom: 1px dotted transparent;
}
ul{list-style: none;}
.wrapper{margin:0 auto; width: 960px;}
.header{background-color: black; color:white; padding:25px 10px; text-align: center; border-color: white;}
.header p{margin-bottom: 30px; margin-top:30px; } 

.header a, .header a:visited, .header a:link, header a:active{
	border-color:white;
	color:white;
	
	
	
}
.menu li{
	display: inline;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 30px;


}
.article{margin: 25px 0;}
.h2{display:block; color:black; font-size:1.6em;}
.aritcle .h2{ margin-bottom:0.25em;}
.article .h2 a{color:black; border-color:black;}

.fleft{float:left;}
.fright{float:right;}
.article a{border-color: #00E;}
ol{list-style: none;}
.strong{font-weight: bold;}
.archive .day{
	display:inline-block;
	margin-right: 10px;
	padding-left:40px;

}

.comment h3{border-bottom:1px dashed; padding-top:20px;font-size: 1.1em;}
table, tr, td{border:1px solid black;}
.comment p{font-weight: normal;}

label {
  display: block;
  margin: .5em 0 0 0;
  font-weight: normal;

}
.btn {
  display: block;
  margin: 1em 0;
  background: gray;
}
textarea{margin: .5em 0 0 0;height: 100px; }
.footer{text-align: center; padding-top: 20px;}
.textleft{text-align: right;}
.comment .avatar{width: 85px;}
.img-responsive{max-width: 100%;}
.form-row{width: 30%;}
