.main .well{
	text-align: center;

}

.features .glyphicon{font-size:3em;}
.footer{background-color:#222; color:#FFF; padding:20px 0 0;}
.feature [class*="col-"]{

	margin-bottom:25px;
}

.animacion{
      
            animation-name: slidein;
            animation-iteration-count: infinite;
             
        }

        @keyframes slidein {
       0%{
        left:-10px;
        transform: rotate(270deg);
        }

        25%{

            left:200px;

        }
        55%{

            left:130px;

        }
        75%{

            left:300px;

        }
       100%{
       top:500px;
    }
}


.derecha{padding-right:50px;}
@media (min-width: 768px){

.footer [class*="col-sm"] {min-height:15px;}
	.main .well{left;}

}